langchain
langgraph
langchain_community
langchain_core
langchain_groq
langchain_openai
langchain_google_genai
langchain_xai
faiss-cpu
streamlit
graphviz
langgraph
langgraph-cli[inmem]
typing-extensions>=4.7.0
markdown
